<header>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</header>

<body>
    <h1>Saludos desde la liga de Cyb3rs3cur17y</h1>
    <p>Este es el primer reto CTF creado por la liga. Tu objetivo es encontrar una flag, que no es más que un texto el estilo flag{estoEsUnaFlag} que
        se ecnontrará en un lugar donde, en un escenario real, podría haber información de utilidad, de tal forma que sea lo más realista posible.
    </p>
    <p>
        This is the first CTF challenge created by the cyb3rs3cur17y league. Your goal is to find a flag with the format flag{thisIsAFlag} that will be in a 
        place where, in a real scenario, there might be some juicy information. That way challenges are as realistic as possible. 
    </p>
    <a href="./content/hint.html">PISTA//HINT</a>
    <footer>Made with :love: by lowe (aka alrodri2)</footer>
</body>

